@model Vezeeta.DAL.Entities.Clinic

<h2>Create Clinic</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

