@model IEnumerable<ClinicVM>


@{
    ViewData["Title"] = "Clinic";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="mx-auto max-w-7xl rounded-lg bg-white p-6 shadow-md">
    <h2 class="mb-6 text-2xl font-semibold text-gray-800">Clinics List</h2>

    <table class="min-w-full border bg-white">
        <thead>
            <tr>
                <th class="bg-gray-200 px-4 py-2 text-left font-bold text-gray-600">Clinic ID</th>
                <th class="bg-gray-200 px-4 py-2 text-left font-bold text-gray-600">Name</th>
                <th class="bg-gray-200 px-4 py-2 text-left font-bold text-gray-600">Address</th>
                <th class="bg-gray-200 px-4 py-2 text-left font-bold text-gray-600">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var clinic in Model)
            {
                <tr class="border-b">
                    <td class="px-4 py-2">@clinic.ClinicID</td>
                    <td class="px-4 py-2">@clinic.Name</td>
                    <td class="px-4 py-2">@clinic.Address</td>
                    <td class="px-4 py-2">
                        <a href="#" class="text-blue-500 hover:text-blue-700">Edit</a>
                        <a href="#" class="ml-4 text-red-500 hover:text-red-700">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
