@model ScheduleAppointmentVM
@{
    ViewData["Title"] = "Doctor";
    Layout = "~/Views/Shared/PatientLayout.cshtml";
}
<div class="mx-auto max-w-2xl rounded-lg bg-white p-6 shadow-md">
    <h2 class="mb-6 text-xl font-semibold text-gray-800">Are You Sure You Want to Schedule This Appointment?</h2>

    <form asp-action="Schedule" method="post">
        <div class="mb-4">
            <label class="mb-2 block text-sm font-bold text-gray-700" for="schedule">
                Appointment Schedule
            </label>
            <input asp-for="Schedule" class="w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none focus:shadow-outline" id="schedule" type="datetime-local" value="@Model.Schedule.ToString("yyyy-MM-ddTHH:mm")">
            <span asp-validation-for="Schedule" class="text-sm text-red-500"></span>
        </div>
        <div class="mb-4">
            <label class="mb-2 block text-sm font-bold text-gray-700" for="note">
                Note (Optional)
            </label>
            <textarea asp-for="Note" class="w-full appearance-none rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none focus:shadow-outline" id="note" placeholder="Additional notes"></textarea>
            <span asp-validation-for="Note" class="text-sm text-red-500"></span>
        </div>
        <input type="hidden" asp-for="ID" />
        <div class="flex flex-col items-center justify-center gap-3 md:flex-row">
            <button type="submit" class="w-[200px] rounded bg-blue-400 px-4 py-2 font-bold text-white hover:bg-blue-700 focus:outline-none focus:shadow-outline">
                Schedule
            </button>
            <a asp-action="Index" class="w-[200px] rounded bg-red-400 px-4 py-2 text-center font-bold text-white hover:bg-red-800 focus:outline-none focus:shadow-outline">
                Cancel
            </a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
